
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You!</h2>
<div></div>
<p>You are now registered. You may login and proceed to the cart, or continue shopping.</p>

